* {
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
}

h1 {
    font-family: "Cabin", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
}

#top-ad {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
}

#top-ad a {
    color: white;
}

.head {
    padding: 3rem 5rem;
    background-color: gainsboro;
}

.head > ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1rem;
}

.btn {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.banner {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1em;
}

#info p {
    color: rgb(53, 52, 52);
}

#info ul {
    list-style-type: none;
    color: rgb(53, 52, 52);
    font-weight: bold;
}

#info li {
    padding: 0.5em 0;
    text-justify: distribute-all-lines;
}

.banner section:first-child {
    justify-content: center;
}

.banner section:nth-child(2) {
    text-align: end;
}

.input {
    padding: 1rem;
}

.logos {
    margin: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.logos > img {
    max-width: 90%;
}

#escrow-banner > img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: gainsboro;
    margin: 0 5rem 3rem 5rem;
}

#overlay-text {
    position: absolute;
    top: 65em;
    right: 50%;
    width: 40%;
}

#overlay-text p,
a {
    color: rgb(53, 52, 52);
}

#text-editor {
    display: flex;
    flex-direction: row;
    margin: 0 5rem 3rem 5rem;
}

.text {
    justify-content: center;
    align-self: center;
}

.text p,
a {
    color: rgb(53, 52, 52);
}

footer {
    background-color: black;
}

#footer {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    justify-content: space-around;
    margin: 0 5rem;
    padding: 2rem 0;
    color: grey;
    line-height: 1.5rem;
}

#footer ul {
    list-style-type: none;
}

.foot-heading {
    margin-left: 2rem;
}

.foot-info strong {
    color: white;
}
